.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me__main__left {
  /* width: 100%; */
  order: 2;
  margin-top: 2rem;
}

.about-me__main__right {
  /* width: 100%; */
  order: 1;
}

.separator-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}

@media (min-width: 950px) {
  .about-me__main__left {
    padding-right: 40px;
    order: 1;
    width: 50%;
  }

  .about-me__main__right {
    padding-left: 40px;
    order: 2;
    width: 50%;
  }

  .about-me__main {
    margin-top: 40px;
    align-items: center;
    flex-direction: row;
  }

  .separator-container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.about-me__title {
  color: #66d9ef;
  font-size: 2rem;
  text-align: center;
}

.about-me__img {
  max-width: 100%;
  border-radius: 20%;
  max-height: 500px;
  margin: auto;
}

.separator {
  font-size: 2rem;
  line-height: 2rem;
}

.text-thingy-on::after {
  content: "\1F431";
}

.toolbelt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbelt__title {
  color: #66d9ef;
  font-size: 2rem;
  margin-top: 0rem;
  line-height: 2rem;
}

.toolbelt__tech-box {
  max-width: 90%;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolbelt__mini-logo {
  height: 80px;
  width: auto;
  margin: 20px;
  min-height: auto;
  max-width: 100%;
}

.express-logo {
  color: white;
  font-family: helvetica;
  font-size: 80px;
}
