.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-evenly;
  margin-top: -24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1f1c;
  max-width: 100%;
  width: 400px;
  min-height: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin-top: 24px;
}

.card__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 40%;
}

.card__preview__content {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1.8rem;
  color: #f92672;
  line-height: 1.8rem;
  margin-bottom: 0rem;
  margin-top: 40px;
}

.card__text {
  margin: auto 0px;
}

.card__link {
  align-self: flex-start;
}
